%ul.no-list
  - if user_signed_in?
    %li= link_to t('settings.account_settings'), edit_user_registration_path
  - else
    %li= link_to t('privacy_policy.title'), terms_path

  - if user_signed_in?
    %li= link_to t('auth.logout'), destroy_user_session_path, data: { method: :delete }
